<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.arduino.com.user.UserMapper">


<insert id="ins_user">
	INSERT INTO t_user
	(user_id, user_pw, user_nm, user_nick, user_phone)
	VALUES
	(#{user_id}, #{user_pw}, #{user_nm}, #{user_nick}, #{user_phone});
</insert>

<select id="selUser" resultType="UserDomain">
	SELECT * FROM t_user WHERE user_id = #{user_id};
</select>

<select id="selNick" resultType="UserDomain">
	SELECT * FROM t_user WHERE user_nick = #{user_nick};
</select>

<select id="findInfo" resultType="UserDomain">
	SELECT * FROM t_user WHERE user_nm = #{user_nm} AND user_phone = #{user_phone};
</select>

</mapper>