body {
	margin: 0px;
	padding: 0px;
}

#mainDiv {
	width: 900px;
	margin: auto;
	margin-top: 50px;
}

.top {
	display: flex;
    justify-content: space-between;
}

.logoAndInput {
	align-items: center;
	display: flex;
}

.flex {
	display: flex;
}
.mainLogoDiv {
	margin-right: 50px;
}

.mainLogo {
	width: 150px;
    height: 100px;
}
.search {
	width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 0.1px solid;
    padding: 10 0 0 10;
    font-size: 16px;
}

.loginAndJoin {
	align-items: center;
	display: flex;
}

.login {
	font-size: 16;
    margin: 0 20;
}
.join {
	font-size: 16;
    margin: 0 20;
}

.subCategori {
	font-size: 17px;
    margin: 20 0 5;
    display: flex;
    border-bottom: 0.1px solid darkgray;
    padding-bottom: 10px;
}

.myPage, .notice, .questionAndAnswer {
	margin: 0 15;
}

.practiceModeDiv, .actualModeDiv {
	display: flex;
    font-size: 15px;
}
.introducePractice, .introduceActualMode {
	width: 300px;
	padding: 0 10;
}
.practiceModeImg, .actualModeImg {
	width: 600;
    height: 200;
}

.introducePractice {
	background-color: aliceblue;
}
.introduceActualMode {
	background-color: antiquewhite;
}
.board {
	display : flex;
	justify-content: space-around;
	text-align: center;
	margin-top: 10px;
}

.bestBoard, .communityBoard {
	width: 400;
    height: 300px;
    border: 0.1px solid darkgray;
    border-radius: 5px;
    padding: 10px 0 10 0;
    border-left: 2px #3a93de solid !important;
}
.bestH3, .communityH3 {
	text-align: left;
}

.borderBottom {
	border-bottom: 0.1px solid darkgray;
    display: flex;
    margin: 10 0 20;
    padding: 0 0 5 15;
}

