@charset "UTF-8";

body {
	margin: 0px;
	height: 0px;
}

.flex {
	display: flex;
}

#mainDiv {
	width: 1024px;
	margin: auto;
	margin-top: 50px;
}

.flexBetween {
	display: flex;
	justify-content: space-between;
	align-items: end;
	border: 0.1px solid darkgray;
	border-radius: 10px;
	margin-bottom: 10px;
}

.leftHeaderDiv {
	display: flex;
	font-size: 25px;
	align-items: end;
	padding-bottom: 15px;
}

.mainLogoDiv {
	width: 200px;
}

.mainLogo {
	width: 250px;
}

.mainTitle {
	
}

.rightHeaderDiv {
	display: flex;
	padding-bottom: 18px;
	font-size: 17;
	font-weight: 100;
	margin-right: 20px;
}

.subInfo {
	margin-right: 15px;
}

/* ------------------- body ----------------------- */
.selectMode, .freeBoard, .noticeBoard, .scoreBoard {
	border: 0.1px solid darkgray;
	border-radius: 10px;
}

#bodyDiv {
	display: flex;
	height: 450px;
	justify-content: space-between;
}

.selectMode {
	width: 260px;
	position: relative;
}

.practiceMode, .liveMode {
	position: absolute;
	border: 0.1px solid darkgray;
	border-radius: 50%;
	width: 130px;
	text-align: center;
	padding: 45px 0;
	font-size: 20px;
}

.practiceMode {
	top: 15%;
    right: 25%;
}

.liveMode {
	top: 55%;
    right: 25%;
}

.freeBoard {
	width: 430px;
	padding: 10px;
}

.subBoard {
	width: 298px;
	height: 450px;
}

.noticeBoard {
	height: 198px;
    margin-bottom: 9px;
    padding: 10px;
}

.scoreBoard {
	height: 198px;
	padding: 10px;
}

.subTitle {
	font-size: 23px;
    color: #276668;
    margin-bottom: 20px;
}

.subCtnt {
	padding: 0 15;
}
