@charset "UTF-8";

#mainDiv {
	width: 900px;
	margin: auto;
	margin-top: 50px;
}

.top {
	display: flex;
    border-bottom: 1px solid;
    align-items: baseline;
    padding-bottom: 5px;
    justify-content: space-between;
    font-size: 30px;
    margin-bottom: 70px;
}

.bodyDiv {
	display: flex;
	align-items: center;
}
.showDiv {
	width: 250px;
    text-align: center;
    border: 2px solid;
    padding: 85 0;
    margin-right: 50px;
}
.handsImg {
	width: 600px;
}
.nameKor {
	font-size: 90px;
}
.nameEng {
	font-size: 40px;
}