@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
}

#main_div {
	width: 700px;
	margin: auto;
	margin-top: 100px;
	position: relative;
}

.flex {
	display: flex;
}

.flex_borderBottom {
	display: flex;
	border-bottom: 0.1px solid darkgray;
	margin-bottom: 70px;
}

.flex_end {
	display: flex;
	margin-bottom: 30px;
	align-items: center;
	font-weight: 100;
}

.main_logo {
	width: 250px;
}

.main_title {
	font-size: 35px;
}

.subTitileId, .subTitilePw {
	width: 120px;
	font-size: 20;
	font-weight: 100;
	border-left: 0.1px solid darkgray;
	border-right: 0.1px solid darkgray;
	border-top: 0.1px solid darkgray;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}

.sub_div, .pwDiv, .pinCodeDiv, .chkPwDiv {
	width: 500px;
	margin: auto;
}

.chkPwDiv {
	display: none;
}

.pinCodeDiv {
	display: none;
	position: absolute;
    top: 23%;
    left: 48%;
    transform: translate(-20%, 0);
    width: 332px;
}

.nm, .ph, .id, .newPw, .newChkPw {
	font-size: 25px;
	font-weight: 100;
}

.user_nm, .user_id, .user_ph, .userNewPw, .userNewChkPw, .findId_btn, .changePw, .findPw_btn, .login_btn {
	width: 500px;
	height: 40;
	border-radius: 7px;
	border: 0.1px solid darkgray;
}

.user_nm {
	margin: 5 0 20;
	font-size: 25px;
	padding: 7px;
}

.user_ph, .userNewPw {
	margin: 5 0 15;
	font-size: 25px;
	padding: 7px;
}

.user_id, .userNewChkPw {
	margin: 5 0 20;
	font-size: 25px;
	padding: 7px;
}

.findId_btn, .findPw_btn, .login_btn, .changePw {
	background-color: #d4f3ff;
	height: 45;
	margin-bottom: 15px;
}

.subTitileId, .subTitilePw, .findId_btn, .findPw_btn, .login_btn {
	cursor: pointer;
}

.login_btn {
	margin-bottom: 300px;
}

#findId {
	display: none;
	border: 0.1px solid darkgray;
	height: 50;
	text-align: center;
	padding-top: 25;
	border-radius: 6px;
	margin-bottom: 30px;
}

.pinCode {
	font-size: 18px;
    font-weight: 100;
    margin: 3 10;
}

.inputPinCode {
	height: 30;
    border-radius: 5px;
    border: 0.1px solid darkgray;
}

.pinCodeSubmit {
	background-color: white;
    border: 0.1px solid darkgray;
    border-radius: 5px;
    height: 30;
    margin-left: 10;
    padding: 0 15;
    cursor: pointer;
}




