@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	font-family: 'a이끌림M';
}

@font-face {
	font-family : 'a이끌림M';
	src: url('/res/font/a이끌림M.woff') format('woff');
}

.flex {
	display: flex;
	border-bottom: 0.1px solid darkgray;
	align-items: center;
}
.flex_last {
	display: flex;
	align-items: center;
}
.join_flex{
	display: flex;
   	width: 187px;
    margin: 40 auto 0;
}

#main_div {
	width: 1024px;
	margin: auto;
}

.main_logo {
	text-align: center;
	margin: 80 0 50;
}

.main_logo img {
	width: 250px;
	height: 120px;
}

.input_div {
	width: 500px;
	margin: auto;
}

.textId, .textPw, .textName, .textPhone, .textChkPw {
	width: 120px;
	padding-left: 10px;
	color: #595959;
	font-size: 18px;
}

.user_id, .user_pw, .user_name, .user_phone, .user_chkPw {
	width: 330px;
    height: 35px;
    padding: 10 0 6 10;
    border: 1px solid #D9D9D9;
    margin-left: 10px;
    border-radius: 3px;
    font-size: 15px;
}

.user_id_div, .user_pw_div ,.user_chkPw_div, .user_name_div, .user_phone_div {
	border-left: 1px solid darkgray;
    padding: 10px 0 10px;
}

.join_btn {
	background-color: #FFC000;
	margin-right: 10px;
}
.moveHome {
    background-color: #adadad;
}

.join_btn, .moveHome {
	color: white;
	padding: 8 30;
}





