@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	font-family: 'a이끌림M';
}

@font-face {
	font-family: 'a이끌림M';
	src: url('/res/font/a이끌림M.woff') format('woff');
}

/* ------------------- 모바일 화면 ----------------- */
@media all and (max-width: 1024px) {
	input, textarea, button {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
	}
	.login_btn, .user_id, .user_pw {
		font-family: 'a이끌림M';
	}
	.flex {
		display: flex;
		align-items: center;
	}
	#main_div {
		width: 1024px;
		margin: auto;
		margin-top: 400px;
		text-align: center;
	}
	.main_logo {
		width: 550;
		height: 230;
	}
	.login_div {
		width: 700px;
		margin: auto;
		margin-top: 60px;
	}
	.lgoin_btn_div_desktop {
		display: none;
	}
	.user_id, .user_pw {
		width: 600px;
		height: 80px;
		margin-bottom: 10px;
		padding: 0 10px;
		border: none;
		font-size: 40px;
		border-bottom: 2px solid #cacaca;
		outline: none;
	}
	.login_btn {
		width: 700px;
		height: 80;
		margin-bottom: 5px;
		background-color: #FFC000;
		border: none;
		color: white;
		margin-top: 20;
	}
	.login_btn {
		font-size: 40;
		cursor: pointer;
		font-weight: bold;
	}
	.find_div {
		width: 700px;
		margin: auto;
	}
	.findSub_div {
		display: flex;
		justify-content: space-evenly;
		margin: 40 0 60;
		font-size: 35px;
	}
	.cursor {
		cursor: pointer;
		font-weight: bold;
		border-bottom: 2px solid black;
	}
	.id_logo, .pw_logo {
		width: 70;
		height: 70;
		margin: 0 30 5 0;
	}
	.comment {
		color: #858484;
		font-size: 30px;
	}
}

/* ------------------- 데스크탑 --------------------- */
@media all and (min-width: 1024px) {
	.login_btn, .user_id, .user_pw {
		font-family: 'a이끌림M';
	}
	.flex {
		display: flex;
		align-items: center;
	}
	#main_div {
		width: 1024px;
		margin: auto;
		margin-top: 100px;
		text-align: center;
	}
	.main_logo {
		width: 250;
		height: 120;
	}
	.login_div {
		width: 400px;
		margin: auto;
		margin-top: 70px;
	}
	.lgoin_btn_div_mobile {
		display: none;
	}
	.user_id, .user_pw {
		width: 360px;
		height: 40px;
		margin-bottom: 10px;
		padding: 0 10px;
		border: none;
		font-size: 20px;
		border-bottom: 2px solid #cacaca;
		outline: none;
	}
	.login_btn {
		width: 400px;
		height: 50px;
		margin-bottom: 5px;
		background-color: #FFC000;
		border: none;
		color: white;
		margin-top: 10px;
	}
	.login_btn {
		font-size: 19px;
		cursor: pointer;
		font-weight: bold;
	}
	.find_div {
		width: 400px;
		margin: auto;
	}
	.findSub_div {
		display: flex;
		justify-content: space-evenly;
		margin-top: 20px;
		margin-bottom: 60px;
		font-size: 15px;
	}
	.cursor {
		cursor: pointer;
		font-weight: bold;
		border-bottom: 2px solid black;
	}
	.id_logo, .pw_logo {
		width: 30px;
		height: 35px;
		margin: 0 5 5 0;
	}
	.comment {
		color: #858484;
	}
}